* {
    
}

p {
    font-family: Helvetica;
}

.content {
    padding: 5%;
}

a {
    text-decoration-line: none;
}

.header {
    background-color: rgb(0, 202, 204);
    color: white;
    padding: 5%;
}