.header {
   background-color: rgb(58, 91, 238);
   color: white;
   font-family: Helvetica;
   padding: 4%;
}

.footer {
    background-color: rgb(58, 91, 238);
    color: white;
    font-family: Helvetica;
    padding: 2%;
}


.top a {
     background-color: rgb(71, 63, 184);
    float: left;
    color: rgb(177, 231, 231);
    text-align: center;
    padding: 1%;
    display: block;
    overflow: hidden;
    text-decoration: none;
}

.top a:hover {
    background-color: rgb(143, 136, 136);
}

.top a.active {
    background-color: rgb(121, 190, 190);
}

