* {
    box-sizing: border-box;
}

.header {
    background-color: rgb(51, 204, 204);
    color: white;
    text-shadow: 3px 3px rgb(0, 102, 153);
    margin: 0;
    text-align: center;
    padding: 5%;
    font-family: "Book Antiqua";
    margin: 0;
}

button {
    margin-left: 5%;
    color: white;
    background-color: darkblue; 
}
.content {
    padding: 7%;
    font-family: "Tahoma";
}
div.gallery img {
   width: 70%;
   height: auto;
}

div.gallery {
   background-color: black;
}
 
div.desc {
    width: 24.9999%;
    float: left;
    padding: 4%;
    text-align: center;
    color: white;
}

div.gallery:hover {
    box-shadow: 10px 10px 5px rgb(0, 102, 153);
}

.responsive {
    float: left;
    width: 24.9999%;
}

.menu {
    color: rgb(0, 102, 153);
    background-color:#333333;
    font-family: Helvetica;
}

