* {
    box-sizing: border-box;
}

div.gallery img {
   width: 22%;
   height: auto;
}

div.gallery {
   background-color: black;
}
 
div.desc {
    padding: 4%;
    text-align: center;
    color: white;
}

div.gallery:hover {
    box-shadow: 3% 3% 1% white;
}

.responsive {
    float: left;
    width: 24.9999%;
}

